* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
    height: 90vh;
    background-color: rgb(96, 195, 168);
    position: relative;
    background-image: url(../Images/online.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: right bottom;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    background-color: rgb(183, 235, 224);
    left: 0;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 50px;
    box-shadow: 2px 2px 10px rgba(4, 95, 95, 0.897);
    z-index: 1;
}
.menu {
    display: flex;
}

.menu li a {
    padding: 10px 15px;
    color: rgb(184, 137, 17);
    font-size: 17px;
}

.logo:hover {
    background-color: rgb(213, 235, 227);
    transition: all ease 0.7s;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: indigo;
    margin-left: 20px;
    font-style: italic;
}

.menu li a:hover {
    background-color: #55d0bf;
    font-weight: 700;
    border-radius: 10px;
    border: solid 1px rgb(191, 202, 76);
    transition: all ease 0.4s;
}
.dropdown-checkbox {
    display: none;

}

.dropbtn {
    padding: 10px 15px;
    color: rgb(184, 137, 17);
    font-size: 17px;
    cursor: pointer;
    border-radius: 8px;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #cceae5;
    box-shadow: 0px 8px 16px 3px rgba(74, 79, 79, 0.916);
    z-index: 1;
    border-radius: 10px;
    width: 220px;
}

.dropdown-checkbox:checked+.dropbtn .arrow {
    transform: rotate(180deg);
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display: list-item;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #51bc9c;
}

.dropdown-checkbox:checked~.dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.arrow {
    margin-left: 2px;
    display: inline-block;
    transition: transform 0.3s
}
.cart1 {
    margin: 50px 30px 30px 60px;
    height: 550px;
    width: 350px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px grey;
    display: inline-block;
}
.cart2 {
    margin: 50px 30px 30px 60px;
    height: 550px;
    width: 350px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px grey;
    display: inline-block;
}
.cart3 {
    margin: 50px 30px 30px 60px;
    height: 550px;
    width: 350px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px grey;
    display: inline-block;
}
.Top-Recommended{
    margin-top:110px;
}
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    margin: 0 0 20px;
}

.price {
    margin-left: 15px;
    font-size: 20px;
}

.c1-img {
    margin-bottom: 5px;
    height: 180px;
    width: 350px;
    border-radius: 10px 10px 0 0;
}

.c2-img {
    margin-bottom: 5px;
    height: 215px;
    width: 350px;
    border-radius: 10px 10px 0 0;
}

.c3-img {
    margin-bottom: 5px;
    height: 220px;
    width: 350px;
    border-radius: 10px 10px 0 0;
}

.c-name {
    margin-left: 15px;
    font-size: 17px;
}

.disc {
    margin-top: 0;
    margin-left: 15px;
}

.d-head {
    color: rgba(57, 55, 55, 0.63);
}

.highlight {
    margin-top: 8px;
    margin-left: 20px;
}

.btn {
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-top: 50px;
    margin-left: 140px;
}