* {
    margin: 0;
    padding: 0;
    position: relative;
}
ul {
    list-style: none;}
a {
    text-decoration: none;}
.main {
    width: auto;
    height: 90vh;
    position: relative;
}
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    background-color: rgb(201, 223, 213);
    left: 0;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 50px;
    box-shadow: 2px 2px 10px rgba(4, 95, 95, 0.897);
    z-index: 3;
}
.menu {
    display: flex;}
.menu li a {
    padding: 10px 15px;
    font-size: 17px;
    color: rgb(184, 137, 17);}
.logo {
    font-size: 25px;
    font-weight: bold;
    color: indigo;
    margin-left: 20px;
    font-style: italic;}
.menu li a:hover {
    background-color: #def0ed;
    font-weight: 700;
    border-radius: 10px;
    border: solid 1px rgb(211, 224, 65);
    transition: all ease 0.4s;
}
.ideal {
    width: 650px;
    position: absolute;
    padding-top:80px ; 
    padding-left: 120px;
    transform: translate(-10%, -33%);
    line-height: 60px;
}
.detail {
    line-height: 30px !important;
}
.ideal h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: 3px;
    color: rgb(68, 112, 114);
}
.ideal span {
    color: rgb(197, 139, 23);
}
.downlaod {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 94, 94);
    color: beige;
    border-radius: 6px;
    font-size: 25px;
    border: none;
    border: solid 2px goldenrod;
}
.downlaod:hover {
    background-color: rgb(88, 104, 110);
    transition: all ease 0.4s;
}
.heading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    font-style: oblique;
    color: rgb(156, 109, 190);
}
.heading:hover {
    color: palevioletred;
}
.heading span {
    background-color: rgb(250, 166, 56);
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
}
.feature {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding-bottom: 50px;
}
.container {
    height: 370px;
    width: 270px;
    background-color: #ecf3f2;
    border: 2px solid rgb(103, 172, 160);
    margin: 10px;
}
.container:hover {
    box-shadow: 0 0 7px 4px rgb(173, 193, 198);
}
.feature-img {
    height: 110px;
    width: 120px;
    padding-left: 70px;
    padding-top: 20px;
}
.container h1 {
    padding-top: 7px;
    color: rgb(156, 89, 203);
    text-align: center;
}
.container p {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    color: rgb(132, 124, 12);
}
.dropdown-checkbox {
    display: none;
}
.dropbtn {
    padding: 10px 15px;
    color: rgb(184, 137, 17);
    font-size: 17px;
    cursor: pointer;
    border-radius: 8px;
}
.dropbtn:hover {
    background-color: #def0ed;
    font-weight: 700;
    border-radius: 10px;
    border: solid 1px rgb(191, 202, 76);
    transition: all ease 0.4s;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #cceae5;
    box-shadow: 0px 8px 16px 3px rgba(74, 79, 79, 0.916);
    z-index: 1;
    border-radius: 10px;
    width: 220px;
}
.dropdown-checkbox:checked + .dropbtn .arrow {
    transform: rotate(180deg);
}
.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display: list-item;
    border-radius: 5px;
}
.dropdown-content a:hover {
    background-color: #a6e4d1;
    box-shadow: 0px 1px 10px 1px rgba(74, 79, 79, 0.916);
}
.dropdown-checkbox:checked ~ .dropdown-content {
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.arrow {
    margin-left: 2px;
    display: inline-block;
    transition: transform 0.3s;
}
.offer {
    background-color: #2a2145;
    height: 450px;
    width: 100%;
    background-image: url(./../Images/3D.avif);
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: left center;
    position: relative;
    border: 2px dotted rgb(114, 137, 132);
    backface-visibility: hidden;
}
.sell img {
    height: 80px;
    width: 60px;
    padding-bottom: 20px;
}
.sell {
    text-align: right;
    color: rgb(238, 219, 219);
    padding-right: 200px;
    padding-top: 50px;
}
.sell button {
    background-color: rgb(252, 150, 18);
    width: 150px;
    height: 40px;
    border: 1px solid black;
    color: rgb(119, 50, 136);
    font-size: 18px;
    border-radius: 9px 0 9px 0;
    margin-top: 5px;
}
.sell button:hover {
    background-color: pink;
}


 .footer{
    margin-top: 40px;
    width: auto;
    font-size: 17px;
    padding: 100px 15%;
    background-color: rgb(201, 223, 213);
    color: #30665b;
    display: flex;
 }
 .footer div{
    text-align: center;
    justify-content: space-around;
 }
 .second{
   flex-grow:.7; background-repeat: no-repeat;
   background-size: 1000px;
   background-position: right bottom;
 }
 .footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 1px;
 }
 .footer h3{
    color: rgb(252, 105, 0);
 }
 .footer h3:hover{
    border-bottom: .5px solid rgb(199, 11, 11);
 }
  .first a{
    display: block;
    text-decoration: none;
    color: rgb(135, 89, 29);
    margin-bottom: 10px;
    font-size: 19px;
 }
 form input{
    width: 400px;
    height: 45px;
    border-radius: 7px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: 1px solid rgb(236, 188, 67);
 }
 form button{
    background-color: #428579;
    border: 1px solid goldenrod;
    color:#264412;
    color: #ecf3f2;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
 }
 form button:hover{
    background-color:rgb(225, 149, 6) ;
 }
 .icon{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
 }
 .icon img{
    height: 30px;
    width: 30px;
    cursor: pointer;
 }
 .icon img:hover:hover{
    box-shadow:0 0 7px 4px rgb(181, 131, 178);
 }
 /*cards*/
 .card-container{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
 .card{
    width: 220px;
    box-shadow:0 0 10px 2px rgb(126, 151, 148);
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 20px;
}
.card:hover{
    box-shadow:0 0 10px 2px rgb(45, 86, 82);
}
.image{
    border-radius:  13px 13px 0 0;
    height: 160px;
    width: 220px;
}
.price{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(74, 93, 41);
    padding-left: 57px;
}
.card h4{
    padding-left: 70px;
    color: rgb(230, 169, 13);
    padding-top: 5px;
}
footer{
    background-color: #ffffff;
    text-align: center;
}
.card button{
    background-color: rgb(223, 212, 232);
    height: 40px;
    width: 130px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid rgb(79, 37, 51);
}

.card-button a{
    text-decoration: none;
}
.card button:hover{
    background-color: #c2e1db;
}
    
.card p{
    text-align: center;
    padding-left: 20px;
    padding-top: 12px;
    padding-right: 20px;
    font-size: 15px;
    color: #264412;
}
.card h2{
    text-align: center;
    color: rgb(68, 52, 46);
    font-size: 20px;
    font-style:italic;
    padding-top: 3px;
}



.cart{
    margin:80px 0 80px 0;
    height: 600px;
    width: 350px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px grey;
    display: inline-block;
}

.cart:hover{
    box-shadow: 2px 2px 20px 2px grey;

}
.m-price{
    margin-left: 15px;
    font-size: 20px;
}

.m-img{
    margin-bottom: 5px;
    height: 180px;
    width: 350px;
    border-radius: 10px 10px 0 0;
}
.m-name{
    margin-left: 15px;
    font-size: 17px;
}
.disc{
    margin-top: 10px;
    margin-left: 15px;
}

.d-head{
    color: rgba(57, 55, 55, 0.63);
}
.highlight{
    margin: 10px 0 20px 20px;
}


.h-btn{
    margin-top: 30px;
    text-align: center;

}
.btn{
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.categories{
    z-index: 2;
    text-align: center;
    padding: 20px 0 0 0;
    width: 100%;
    height:40px;
    font-size: 20px;
    color: black;
    position: sticky;
    top: 40px;
    background-color: #c2e1db;
}

.categories-s{
    z-index: 2;
    padding: 20px 0 0 0;
    width: 100%;
    height: 40px;
    text-align: center;
    position: sticky;
    top: 40px;
    background-color:#c2e1db;
    
}

.container-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



@media screen and (max-width: 600px) {
    nav {
        padding: 10px 20px;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .menu {
        flex-direction: column;
        width: 100%;
    }
    .menu li {
        margin: 5px 0;
    }
    .card {
        margin: 20px auto;
        width: 90%;
    }
    .h-btn{
        margin:30px 0 0 0;
        text-align: center;
    
    }

    .btn{
        background-color: black;
        color: white;
        border-radius: 20px;
        border: none;
        padding: 10px;
    }

    form input {
        width: 90%;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footer div {
        width: 90%;
        margin-bottom: 20px;
    }
    .header{
        margin-top: 120px;
    }
    .cart{
        margin:40px 0 0 0;
        height: 600px;
        width: 350px;
        background-color: aliceblue;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 2px grey;
        display: inline-block;
    }

    .f-card{
        margin-top: 180px;
    }

.categories{
    z-index: 2;
    text-align: center;
    padding: 20px 0 5px 0;
    width: 100%;
    height:20px;
    font-size: 20px;
    color: black;
    position: sticky;
    top: 180px;
    background-color: #c2e1db;
}

.categories-s{
    margin-top: 20px;
    z-index: 2;
    padding: 20px 0 5px 0;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    position: sticky;
    top: 180px;
    background-color:#c2e1db;
    
}
}
/* Normal Devices */
@media screen and (min-width: 601px) and (max-width: 768px) {
    nav {
        padding: 10px 30px;
    }
    .card {
        margin: 30px auto;
        width: 80%;
    }
    form input {
        width: 80%;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footer div {
        width: 80%;
        margin-bottom: 20px;
    }
    .cart{
        margin:40px 0 0 0;
        height: 600px;
        width: 350px;
        background-color: aliceblue;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 2px grey;
        display: inline-block;
    }
 .f-card{
    margin-top: 20px;
 }
 .s-card{
    margin-top: 20px;
 }

    .categories{
        margin-top: 20px;
        z-index: 2;
        text-align: center;
        padding: 20px 0 5px 0;
        width: 100%;
        height:30px;
        font-size: 20px;
        color: black;
        position: sticky;
        top: 40px;
        background-color: #c2e1db;
    }
    
    .categories-s{
        margin-top: 20px;
        z-index: 2;
        padding: 20px 0 5px 0;
        width: 100%;
        height: 30px;
        font-size: 20px;
        text-align: center;
        position: sticky;
        top: 40px;
        background-color:#c2e1db;
    }
    
    .m-img{
        margin-bottom: 5px;
        height: 200px;
        width: 350px;
        border-radius: 10px 10px 0 0;
    }
    


.container-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }

    .h-btn{
        margin:30px 0 0 0;
        text-align: center;
    }



}

/* Tablet Devices */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    nav {
        padding: 10px 40px;
    }
    .cart {
        margin: 30px auto;
        width: 45%;
    }
    form input {
        width: 70%;
    }
    .footer {
        flex-direction: row;
        justify-content: space-around;
    }
    .footer div {
        width: 30%;
    }


    .cart{
        margin:80px 0 80px 0;
        height: 600px;
        width: 350px;
        background-color: aliceblue;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 2px grey;
        display: inline-block;
    }

.h-btn{
    margin-top: 30px;
    text-align: center;

}
.btn{
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.categories{
    z-index: 2;
    text-align: center;
    padding: 20px 0 0 0;
    width: 100%;
    height:40px;
    font-size: 20px;
    color: black;
    position: sticky;
    top: 40px;
    background-color: #c2e1db;
}

.categories-s{
    z-index: 2;
    padding: 20px 0 0 0;
    width: 100%;
    height: 40px;
    text-align: center;
    position: sticky;
    top: 40px;
    background-color:#c2e1db;
    
}

}